/*
=============================================================================
***********************************OUTLINE***********************************
=============================================================================
# Variables
# Presets
# Keyframes
# Body
# General Element Styling
# General Selector Styling
# Skip Link
# Page Container
# Page Title
# Main Content
    ## Input Area
    ## Output Area
        ### Copy Text Button / Reset Trigger
        ### Generated Text Area
# Media Queries
*****************************************************************************
*/

/********* # VARIABLES *********/
:root {
    --theme-primary: #fefefe;
    --theme-secondary: #111;
    --theme-tertiary: #333;
    --theme-tertiary-2: #666;
    --theme-success: #184e2a;
    --theme-danger: #4e1818;
    --theme-font-family: Lato, Montserrat, sans-serif;
    --theme-text-colour: #333;
    --theme-text-colour-alt: #fefefe;
    --theme-text-font-size: 1.125rem;
    --theme-text-notify-font-size: 1.125rem;
    --theme-text-weight-5: 500;
    --theme-link-colour: #006cbe;
    --theme-pad-half: 0.5rem;
    --theme-pad-0-75: 0.75rem;
    --theme-pad-1-75: 1.75rem;
    --theme-button-pad: 1rem 1.75rem;
    --theme-input-pad: 1rem 1.75rem;
    --theme-border-width: 2px;
    --theme-border-radius: 0.125rem;
    --theme-inactive: #aaa;
}


/********* # PRESETS *********/
*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/********* # KEYFRAMES *********/
/* ## Rotate Clockwise */
@keyframes rotate-clockwise {
    0%  { transform: rotate(360deg); }
    100%  { transform: rotate(0); }
}

/* Stroke Width */
@keyframes stroke-width-toggle {
    0%  { stroke-width: 0; }
    100%  { stroke-width: 8; }
}

/* Shake */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}


/********* # BODY *********/
body,
button,
input {
    font-family: var(--theme-font-family);
}


/********* # GENERAL ELEMENT STYLING *********/
/* ## Text */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--theme-secondary);
    font-weight: var(--theme-text-weight-5);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    letter-spacing: 0.5px;
}

h1 {
    font-size: 3rem;
}

p {
    line-height: 1.5;
    padding-bottom: var(--theme-pad-0-75);
}

p,
a,
label,
input[type="number"],
button,
.generated-text-area {
    font-size: var(--theme-text-font-size);
}

/* ## Link */
a {
    color: var(--theme-link-colour);
}

a,
button,
input[type="number"] {
    outline: none;
}

a:not(.skip-link),
a:not(.skip-link):active {
    text-decoration: underline dotted;
}

a:hover,
a:not(.skip-link):focus,
input[type="number"]::placeholder,
.container .main-content .output-area .generated-text-area.empty::before {
    color: var(--theme-tertiary-2);
}

a:hover,
a:not(.skip-link):focus {
    text-decoration: none;
}

/* ## Button */
button {
    padding: var(--theme-button-pad);
    margin: 1rem 0;
    outline: none;
}

button,
.button-text-colour-default:hover,
.button-text-colour-default:active,
.container .main-content .output-area .copy-text.copied::after,
.skip-link {
    color: var(--theme-text-colour-alt);
}

button,
.skip-link {
    background-color: var(--theme-secondary);
}

button,
input[type="number"] {
    border: var(--theme-border-width) solid var(--theme-secondary);
}

button,
input[type="number"],
.container .main-content .output-area .generated-text-area {
    border-radius: var(--theme-border-radius);
}

button:hover,
button:active {
    border-color: var(--theme-tertiary);
}

button:active {
    color: var(--theme-text-colour-alt) !important;
    background-color: var(--theme-tertiary) !important;
}

/* ## Input */
input[type="number"] {
    padding: var(--theme-input-pad);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    display: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}


/********* # GENERAL SELECTOR STYLING *********/
/* ## Display */
.display-block {
    display: block;
}

.display-flex,
.container .main-content .output-area .copy-text.copied::after {
    display: flex;
}

.display-flex.flex-centre-all,
.container .main-content .output-area .copy-text.copied::after,
.container .main-content .input-area .input-group .input-field-group.has-custom-controls .quantity-controls .quantity-control {
    justify-content: center;
    align-items: center;
}

/* ## Position */
.position-relative {
    position: relative;
}

.position-absolute,
.container .main-content .output-area .copy-text.copied::after {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

/* ## Margin */
.margin-bottom-2 {
    margin-bottom: 2rem;
}

/* ## Width */
.w-100 {
    width: 100%;
}

/* ## Background */
.bg-primary,
button:hover {
    background-color: var(--theme-primary);
}

/* ## Text */
.text-align-center,
.container .main-content .output-area .generated-text-area.empty {
    text-align: center;
}

p,
a:not(.skip-link):active,
button:hover,
.button-text-colour-default {
    color: var(--theme-text-colour);
}

/* ## Button */
.button-disabled {
    color: var(--theme-inactive);
}

.button-disabled {
    border-color: var(--theme-tertiary-2);
    background-color: var(--theme-tertiary-2);
}

.button-enabled,
.container .main-content .input-area .input-group.input-focused .input-label {
    pointer-events: auto;
}

.button-has-icon svg {
    margin-left: var(--theme-pad-0-75);
    width: 1.25rem;
    height: 1.25rem;
    transition: transform 0.1s ease-in-out;
}

.button-has-icon:hover svg {
    fill: var(--theme-tertiary);
    stroke: var(--theme-tertiary);
}

.button-has-icon svg,
.container .main-content .input-area .reset-trigger:hover svg,
.container .main-content .input-area .reset-trigger:active svg,
.button-has-icon:active svg {
    fill: var(--theme-primary);
    stroke: var(--theme-primary);
}

.button-has-icon.button-disabled svg {
    fill: var(--theme-inactive) !important;
    stroke: var(--theme-inactive) !important;
}

/* ## Input */
.input-group {
    padding-bottom: var(--theme-pad-half);
}

.input-error {
    animation: shake 0.4s;
    border-color: var(--theme-danger) !important;
}

.warning-message {
    display: none;
    color: var(--theme-danger) !important;
    font-size: var(--theme-text-notify-font-size);
    padding-left: var(--theme-pad-1-75);
    top: 0;
}

.warning-message-active {
    display: block;
}


/********* # SKIP LINK *********/
.skip-link {
    translate: 0 -100%;
    transition: translate 0.1s ease-in-out;
}

.skip-link,
.container .main-content .input-area .input-group .input-field-group.has-custom-controls .quantity-controls .quantity-control {
    padding: 0.25rem 0.5rem;
}

.skip-link,
.container .main-content .output-area .copy-text.copied::after {
    top: 0;
    left: 0;
}

.skip-link:focus {
    translate: 0;
}


/********* # PAGE CONTAINER *********/
.container {
    min-height: 100vh;
}


/********* # PAGE TITLE *********/
.container .page-title-container {
    padding: 1rem 0 2rem 0;
}


/********* # MAIN CONTENT *********/
.container .main-content {
    max-width: 640px;
    margin: auto;
}

.container .main-content,
.container .main-content .output-area .generated-text-area {
    padding: 2rem;
}

/* ## Input Area */
/* #### Input Label */
.container .main-content .input-area .input-group .input-label {
    padding-left: var(--theme-pad-1-75);
    margin-bottom: 0.5rem;
    transform: translateY(48px);
    pointer-events: none;
}

.container .main-content .input-area .input-group.input-focused .input-label {
    transform: translateY(0);
}

/* #### Input Field Group */
/* ##### Quantity Controls */
.container .main-content .input-area .input-group .input-field-group.has-custom-controls .quantity-controls,
.container .main-content .output-area .copy-text.copied::after {
    right: 0;
}

.container .main-content .input-area .input-group .input-field-group.has-custom-controls .quantity-controls {
    top: 50%;
    margin-right: 0.325rem;
    transform: translateY(-50%);
}

.container .main-content .input-area .input-group .input-field-group.has-custom-controls .quantity-controls .quantity-control {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    display: inline-flex;
    margin: 0;
}

/* ### Text Generation Trigger */
.container .main-content .input-area .generate-text-trigger svg {
    stroke-width: 2;
    width: 2rem;
}

.container .main-content .input-area .generate-text-trigger:hover svg .cog,
.container .main-content .input-area .reset-trigger:hover svg #reset-arrow,
.container .main-content .output-area .copy-text:hover svg #copy-all-path {
    transform-origin: center;
    transform-box: fill-box;
}

.container .main-content .input-area .generate-text-trigger:hover svg .cog {
    animation: rotate-clockwise 0.75s infinite linear;
}

/* ### Reset Trigger */
.container .main-content .input-area .reset-trigger:hover {
    background-color: var(--theme-secondary);
}

.container .main-content .input-area .reset-trigger svg {
    fill: var(--theme-tertiary);
    stroke: var(--theme-tertiary);
    stroke-width: 8;
}

.container .main-content .input-area .reset-trigger:hover svg #reset-arrow {
    animation: rotate-clockwise 0.75s infinite ease;
}

/* ## Output Area */
/* ### Copy Text Button */
.button-disabled,
.container .main-content .output-area .copy-text.copied {
    pointer-events: none;
}

.container .main-content .output-area .copy-text.copied::after {
    content: "Copied ✔";
    background-color: var(--theme-success);
    bottom: 0;
}

.container .main-content .output-area .copy-text svg {
    stroke-width: 6;
}

.container .main-content .output-area .copy-text:hover svg #copy-all-path {
    animation: stroke-width-toggle 0.75s infinite linear;
}

/* ### Generated Text Area */
.container .main-content .output-area .generated-text-area {
    margin-top: 2.5rem;
    border: var(--theme-border-width) solid var(--theme-tertiary-2);
}

.container .main-content .output-area .generated-text-area.empty {
    display: grid;
    place-items: center;
}

.container .main-content .output-area .generated-text-area.empty {
    height: 8rem;
    border-style: dashed;
}

.container .main-content .output-area .generated-text-area.empty::before {
    content: "Text will be generated here";
}


/********* # MEDIA QUERIES *********/
/* ## Max-Width: 960px */
@media screen and (max-width: 960px) {
    .container .main-content .input-area .generate-text-trigger:hover svg .cog,
    .container .main-content .input-area .reset-trigger:hover svg #reset-arrow,
    .container .main-content .output-area .copy-text:hover svg #copy-all-path {
        animation-iteration-count: 1;
    }
}


/* ## Max-Width: 425px */
@media screen and (max-width: 425px) {
    /* ##### Quantity Controls */
    .container .main-content .input-area .input-group .input-field-group.has-custom-controls .quantity-controls {
        margin-right: 0.75rem;
    }
    
    .container .main-content .input-area .input-group .input-field-group.has-custom-controls .quantity-controls .quantity-control {
        font-size: var(--theme-text-font-size);
        width: 2rem;
        height: 2rem;
    }

    .container .main-content .input-area .input-group .input-field-group.has-custom-controls .quantity-controls .quantity-control:nth-child(n+2) {
        margin-left: 0.25rem;
    }
}